*{
    margin: 0;
    padding: 0;
}

.nav-links ul {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px; 
    list-style: none;
    gap: 3rem;
    & a{
        text-decoration: none;
    } 
}

.nav-cart {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 3rem;
}
