*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

/* Common styles for all elements */
button:active{
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}
a{
    text-decoration: none;
    color: #73513a;
} 

/***** Start Nav Section *****/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1;  
}
.navbar .nav-links{
    display: flex;
    flex-wrap: nowrap;
    gap: 10%;
    padding: 5px 6px 6px 35px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.184);
}
.nav-links ul {
    font-weight: 600;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    & a li{
        position: relative;
    }   
}
.nav-links ul li {
    margin: 0 10px;
} 

.nav-content::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left:0;
    width: 0%;
    border-radius: 10px;
    border-bottom: 3px solid #73513a;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.nav-content:hover::after{
    width: 100%;
}

.nav-icons {
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    & button{
        color: #73513a;
        border: none;
        font-size: 20px;
        background-color:white;
    }   
}

.logo{
    border: none;
    width: 80px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* Width of line is fixed ie. 100% ..........  */
.nav-links #ourRiceMill::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left:0;
    width: 100%;
    border-radius: 10px;
    border-bottom: 3px solid #73513a;
}

/* menu toggle */
/* Menu toggle button for mobile view */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
}

/***** End Nav Section *****/

/***** Start Main Section *****/ 
.OurRiceMill{
    background-color: rgb(245, 233, 213);
}
.template-container{
    position: relative;
    text-align: center;   
}
.OurRiceMill .template-container img{
    height:700px;
    width:100%; 
    object-fit:cover;
    box-shadow: 9px 5px 9px black; 
}
.template-text{
    position: absolute;
    top: 23%;
    left: 50%;
    color: rgb(183, 198, 201);
    text-shadow: 1px 2px 2px gray;
    transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%,-20%);
    -moz-transform: translate(-50%,-20%);
    -ms-transform: translate(-50%,-20%);
    -o-transform: translate(-50%,-20%);
    & .p1{
        font-family: "Playfair Display", serif;
        font-size: 40px;   
    }
    & .p2{
        font-size: 60px;
        font-family: "Playfair Display", serif;      
    }
}
.container{
    color: #73513a;
    margin:0% 20% 20% ; 
    word-spacing: 5px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}

h1{
    font-family: "Playfair Display", serif; 
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
}
.container p{
    font-size: 20px;
    margin: 0px 5%;
}

/* Infrastructure Details */
.infra-details{
    margin-bottom: 15%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    row-gap: 50px;
    column-gap: 50px;
    & div{
        display: flex;
        align-items: center;
    }
    & img{
        width: 140px;
        box-shadow: none;
    }  
}

.infra-details p{
    padding-left:5px ;
    margin-left: 8px;
    margin-top: 55px;
    font-size: 18px;
}

.block-1,.block-2, .block-3, .block-4{
    justify-content: center;
}
.block-2 img{
    padding-top: 10%;
}


/* Infrastructure Images */
.infra-images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: 70px;
    row-gap: 70px;
    margin: 9rem 0px 50px;
    justify-content: center;
    text-align: center;

    & img{
        margin-bottom: 13px;
        width:100%;
        height: auto;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.519);
    }
}

/***** End Main Section *****/

/********************** Footer Section *********************/ 

footer {
    background-color: rgb(115, 80, 57); 
    color: white; 
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1350px;
    margin: 0 auto;
}

.footer-about {
    max-width: 500px;
}

.footer-about h3 {
    margin-top: 8px;
    font-size: 30px;
    margin-bottom: 5px;
}

.footer-about p {
    font-size: 18px;
    line-height: 1.6;
    /* margin-top: 5px; */
    font-family: Inter, sans-serif;
}

.footer-about img {
    margin-top: 8px;
    max-width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.footer-contact-us , 
.footer-social h3 {
    margin-top: 30px;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: white;
}

.footer-contact-us {
    margin: auto;
    margin-top: 30px;
    padding-right: 50px;
}

.footer-contact-us ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    line-height: 35px;
}

.footer-contact-us ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.footer-contact-us ul li {
    font-size: 18px;
}

.footer-contact-us .fa-solid {
    margin-right: 20px;
    cursor: pointer;
}

.footer-social {
    margin: auto;
    margin-top: 30px;
    margin: 0 ;
}

.footer-social-icons {
    margin-top: 20px;
}

.footer-social .footer-social-icons a {
    font-size: 29px;
    margin-right: 20px;
    color: azure;
}

.footer-social-icons .fa-whatsapp {
    color: #128C7E;
}

.footer-social-icons .fa-instagram {
    color: #833AB4;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    background-color: rgb(221, 227, 227);
    border-top: 1px solid #ba9e9e;
}

.footer-bottom p {
    margin: 0;
    font-size: 16px;
    color: black;
}

 /***** End Footer Section *****/


 


/***** End RESPONSIVE Section *****/

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
}
